<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Profile</title>

    <!--
    - favicon
  -->
    <link
      rel="shortcut icon"
      href="/assets/images/logo/favicon.ico"
      type="image/x-icon"
    />

    <!--
    - custom css link
  -->
    <link rel="stylesheet" href="/assets/css/style-prefix.css" />
    <link rel="stylesheet" href="/assets/css/style.css" />
    <link rel="stylesheet" href="/assets/css/myProfileSidebar.css" />
    <link rel="stylesheet" href="/assets/css/adminProducts.css" />
    
    
    <!--
    - google font link
  -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <%- include("../partials/header") %>

        <section class="products-main">
        <% if (products && products.length > 0) { %>
            <% products.forEach(product => { %>
            <div class="product-card">
                <img src="<%= product.image_url %>" alt="<%= product.name %>" />
                <div class="product-info">
                    <h3><%= product.name %></h3>
                    <p class="price">₹ <%= product.price %></p>
                    <p>Stock: <%= product.stock %></p>
                    <p><%= product.description %></p>
                </div>

                <div class="product-actions">
                <form method="PATCH" action="/admin/products/<%= product.id %>/stock">
                    <input type="number" name="quantity" placeholder="Add stock" min="1" />
                    <button type="submit" class="btn-update">Update Stock</button>
                </form>

                <a href="/api/admin/products-admin/<%= product.id %>/edit" class="btn-edit">Edit Product</a>
                </div>
            </div>
            <% }) %>
        <% } else { %>
            <p>No products yet.</p>
        <% } %>
        </section>

    <%- include("../partials/footer") %>
    
    <script src="/assets/js/script.js"></script>
    <!--
    - ionicon link
  -->
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
