<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error</title>

    <!--
    - favicon
  -->
    <link
      rel="shortcut icon"
      href="/assets/images/logo/favicon.ico"
      type="image/x-icon"
    />

    <!--
    - custom css link
  -->
    <link rel="stylesheet" href="/assets/css/style-prefix.css" />
    <link rel="stylesheet" href="/assets/css/style.css" />
    <link rel="stylesheet" href="/css/myCart.css" />
    <link rel="stylesheet" href="/assets/css/myProfileSidebar.css" />
    <link rel="stylesheet" href="/css/error.css" />

    <!--
    - google font link
  -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <%- include("../partials/header") %>

    <div class="error-box">
      <div class="error-card">
        <ion-icon name="alert-circle-outline"></ion-icon>

        <h2><%= title || "Access Denied" %></h2>

        <p><%= message || "You are not allowed to access this page." %></p>

        <a href="<%= redirect || '/' %>">Go Back</a>
      </div>
    </div>

    <%- include("../partials/footer") %>
  </body>
</html>
