<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Profile</title>

    <!--
    - favicon
  -->
    <link
      rel="shortcut icon"
      href="/assets/images/logo/favicon.ico"
      type="image/x-icon"
    />

    <!--
    - custom css link
  -->
    <link rel="stylesheet" href="/assets/css/style-prefix.css" />
    <link rel="stylesheet" href="/assets/css/style.css" />
    <link rel="stylesheet" href="/css/myCart.css" />
    <link rel="stylesheet" href="/assets/css/myProfileSidebar.css" />
    

    <!--
    - google font link
  -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <%- include("../partials/header") %>

    <section class="cart-container">

    <h2 class="cart-title">
      <ion-icon name="cart-outline"></ion-icon>
      My Cart
    </h2>

    <% if (cartItems.length === 0) { %>
      <div class="empty-cart">
        <ion-icon name="cart-outline"></ion-icon>
        <p>Your cart is empty</p>
        <a href="/">Continue Shopping</a>
      </div>
    <% } else { %>

      <% cartItems.forEach(item => { %>
        <div class="cart-card">
          <div class="cart-info">
            <h4><%= item.name %></h4>
            <p>₹ <%= item.price %></p>
            <span>Qty: <%= item.quantity %></span>
          </div>

          <div class="cart-actions">
            <button class="btn remove">Remove</button>
          </div>
        </div>
      <% }) %>

    <% } %>

  </section>

    <%- include("../partials/footer") %>
    
    <script src="/assets/js/script.js"></script>
    <!--
    - ionicon link
  -->
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
