<div class="container">
  <div class="product-detail">
    <img src="<%= product.image || '/images/default-product.png' %>" alt="<%= product.name %>">
    <div class="product-info">
      <h2><%= product.name %></h2>
      <p>Price: $<%= product.price %></p>
      <p><%= product.description %></p>
      <form action="/cart/add" method="POST">
        <input type="hidden" name="productId" value="<%= product.id %>">
        <input type="number" name="quantity" value="1" min="1">
        <button type="submit" class="btn">Add to Cart</button>
      </form>
    </div>
  </div>
</div>
